.title-wrapper {
    display: flex;
    justify-content: center;
    background-color: #e8d6a5;
    height: 40vh;
}

.title-content {
    color: #e8926b;
    position: relative;
    height: 50px;
    top: 10px;
    font-size: 32px;
    font-family: monospace;
}

.calculator-wrapper {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 150px;
    position: absolute;
    width: 100%;
}

.calculator-content {
    position: relative;
    background-color: whitesmoke;
    height: 70vh;
    width: 50%;
    margin-left: 150px;
    box-shadow: 0 0 15px 5px #c9c1bd;
    -moz-box-shadow: 0 0 15px 5px #c9c1bd;
    -webkit-box-shadow: 0 0 15px 5px #c9c1bd;
    overflow-y: scroll;
}

@media only screen and (min-width: 651px) and (max-width: 768px) {
    .calculator-content {
        margin-left: 50px;
    }

    .calculator-sidebar {
        width: 30% !important;
    }
}

@media only screen and (max-width: 650px) {
    .title-content {
        font-size: 20px;
    }
    .calculator-content {
        margin: 0px 20px ;
        width: 80%;
        font: 10px !important;
    }

    .calculator-sidebar {
        margin: 20px 20px 60px 20px !important;
        width: 80% !important;
        height: 20vh !important;
        font-size: 15px;
    }

    .calculator-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .slider-wrapper {
        width: 220px !important;
        overflow: visible;
    }
}

.calculator-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculator-sidebar {
    position: relative;
    background-color: whitesmoke;
    height: 70vh;
    width: 20%;
    box-shadow: 0 0 15px 5px #c9c1bd;
    -moz-box-shadow: 0 0 15px 5px #c9c1bd;
    -webkit-box-shadow: 0 0 15px 5px #c9c1bd;
    margin-right: 10px ;
}

.result-wrapper {
    margin-top: 40px;
    margin-bottom: 80px;
    width: 90%;
    align-self: center;
}

.loader {
    text-align: center;
}